[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
lab = "*"
kaggle = "*"
pandas = "*"
zipfile38 = "*"
matplotlib = "*"
sklearn = "*"
seaborn = "*"
statsmodels = "*"

[requires]
python_version = "3.8"
